<p class="pl-48">Home</p>
<div class="container pr-10 pl-48">
    <aside class="pt-6 md:p-8 text-center space-y-4">
      <section class="user_info">
        <%= render 'shared/user_info' %>
      </section>
      <section class="micropost_form">
        <%= render 'shared/micropost_form' %>
      </section>
    </aside>
    <div class="pt-6 md:p-8 text-center space-y-4">
      <h3>ツイート</h3>
      <%= render 'shared/feed' %>
    </div>
  </div>