<p>MyPage  <%= @user.name %></p>
<%= @user.profile %>

<div class="grid grid-cols-1">
    <% if @user.microposts.any? %>
      <h3>ツイート (<%= @user.microposts.count %>)</h3>
      <ol class="microposts">
        <%= render @microposts %>
      </ol>
    <% end %>
</div>