<div class="">
<!-- component -->
<div class="max-w-xs rounded overflow-hidden shadow-lg my-2">
  <%= image_tag item.display_item_image, class: "w-full object-cover" %>
  <div class="px-6 py-4">
    <div class="font-bold text-xl mb-2">
      <%= item.name %>
    </div>
    <p class="text-grey-darker text-base">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit.
      <% if current_user.admin? %>
        <%= link_to "編集", edit_item_path(item.id) %>
        <%= link_to "削除", item, method: :delete, data: { confirm: "本当にこの商品を削除してよろしいですか？" } %>
      <% end %>
    </p>
  </div>
  <div class="px-6 py-4">
    <span class="inline-block bg-grey-lighter rounded-full px-3 py-1 text-sm font-semibold text-grey-darker mr-2">#photography</span>
    <span class="inline-block bg-grey-lighter rounded-full px-3 py-1 text-sm font-semibold text-grey-darker mr-2">#travel</span>
    <span class="inline-block bg-grey-lighter rounded-full px-3 py-1 text-sm font-semibold text-grey-darker">#winter</span>
  </div>
</div>
</div>