<div class="absolute pr-0">
  <ol class="">
    <%= render @items %>
  </ol>
</div>

<% if current_user.admin? %>
  <section class="flex justify-center">
    <%= render 'item_form' %>
  </section>
<% end %>