<div class="ml-56">
  <ol class="grid grid-cols-3 place-items-auto">
    <%= render @items %>
  </ol>
</div>

<% if current_user.admin? %>
  <section class="flex justify-center">
    <%= render 'item_form' %>
  </section>
<% end %>